.navigation {
    border-bottom: 0.5px solid #90bc9a;
    margin-bottom: 20px;
}

.navigation a{    
    padding: 10px 10px 5px 10px
}

.navigation a:hover{
    transition-timing-function: linear;
    transition-duration: 0.1s;
    color: #90bc9a;
    border-radius: 5px;
}    

.logo {
    width: 150px;
}