.navigation {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navigation a{    
    padding: 10px 10px 5px 10px

}

.navigation a:hover{
    transition-timing-function: linear;
    transition-duration: 0.2s;
    color: inherit;
    border-radius: 5px;

}    